
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    font-family: 'Roboto', sans-serif;;
    font-weight: bold;
}

.container h1 {
  margin: auto;
  font-size: 50px;
  color: #5f5f5f;
}

.header{
  width: 100%;
  display: flex;
  margin:  0 auto;
  background-color: #E9E9E9;
  height: 150px;
  align-items: center;
  padding: 20px;
  margin-bottom: 100px;
}

.header div {
  display: flex;
  margin:  0 auto;
}


.header figure {
  position: relative;
  left: 3%;
  width: 100px;
  height: 100px;
 
}

.header img {
  width: 100px;
}

.header h1 {
position: relative;
width: 150px;
color: #52CEC7;
left: 80px;
display: flex;
font-weight: bold;
}

.container {
    width:90%;
    margin: 0 auto;
    display: flex;
    position: relative;
    margin-bottom: 150px;
  }
  
  .form {
    width: 100%;
    
  }

  form .content-input {
    width: 100%;
    margin-bottom: 50px;
    
  }
  
  .form-input {
    width: 100%;
    color: #292929;
    font-size: 30px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 60px;
    text-indent: 20px;
    position: relative;
  }

  .container form label {
      color: rgb(85, 84, 84);
      font-size: 35px;
  }

  .container form label span.sub-label{
    color: #8a8888;
   
    font-size: 28px;
  }
  
  .form-textarea {
    width: 100%;
    color: #292929;
    font-size: 30px;
    background-color: #E9E9E9;
    border: 1px solid #E9E9E9;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 200px;
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    
  }

  .form-file{
    text-indent: 20px;
    padding-top: 16px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 50px;
  }

  .cont-file {
    width: 100%;
    background-color: #E9E9E9;
    border-radius: 5px;
    height: 100px;
    
  }
  
  .form-button-submit {
    width: 100%;
    font-size: 30px;
    border-radius: 4px;
    color: #fff;
    height: 100px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #52CEC7;
    display: block;
    border: none;
    transition: 1s;
  }

  .form-button {
    width:200px;
    font-size: 30px;
    border-radius: 4px;
    color: #fff;
    height: 70px;
    opacity: .8;
    margin-bottom: 20px;
    cursor: pointer;
    background: #52CEC7;
    display: block;
    border: none;
    transition: 1s;
    margin-top: -70px;
  }
  
  .form-button-submit:hover {
    opacity: 1;
  }

  footer{
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }


